<app-navbar></app-navbar>

<div class="search-container">
    <label for="searc_planet"><b>{{ textKeys.searchPlanetLabel }}</b></label>
    <input type="text" placeholder="Search Planets" size="35" (keyup)="searchPlanet($event.target.value)" />
</div>

<div class="loading-overlay" [class.loading]="loading" *ngIf="loading"></div>

<div class="loading-container" *ngIf="loading">
    <span class="spinner"></span>
</div>

<ng-container *ngIf="planets.results.length > 0">
    <div *ngFor="let item of planets.results">
        <app-planet-list-view
            [planet]="item"
            [maximumPopulation]="maxPopulation"
        ></app-planet-list-view>
    </div>

    <div class="btn-container">
        <button [disabled]="!planets.previous" (click)="onPrevClick()" class="btn btn-primary"><span><</span></button>
        <button [disabled]="!planets.next" (click)="onNextClick()" class="btn btn-primary"><span>></span></button>
    </div>
</ng-container>

<div *ngIf="planets.results.length == 0 && !loading" class="no-planet">
    <b>{{ textKeys.noPlanetMessage }}</b>
</div>
