<div class="planet-container">
    <clr-stack-view class="auto-padding">
        <clr-stack-block>
            <clr-stack-label>{{ planet.name }}</clr-stack-label>
            <clr-stack-content>
                <div class="progress-block progress_bar">
                    <label>{{ planet.population }}</label>
                    <div class="progress">
                        <progress [value]="getProgressValue()" max="100"></progress>
                    </div>
                </div>
            </clr-stack-content>

            <clr-stack-block>
                <clr-stack-label>
                    <div class="keepMarginTop">
                        <label><b>{{ textKeys.rotation_period }} </b></label>&nbsp;
                        <span>{{ planet.rotation_period }}</span>

                        <label class="keepMarginLeft"><b>{{ textKeys.orbital_period }} </b></label>&nbsp;
                        <span>{{ planet.orbital_period }}</span>
                    </div>

                    <div class="keepMarginTop">
                        <label><b>{{ textKeys.diameter }} </b></label>&nbsp;
                        <span>{{ planet.diameter }}</span>

                        <label class="keepMarginLeft"><b>{{ textKeys.climate }} </b></label>&nbsp;
                        <span>{{ planet.climate }}</span>
                    </div>

                    <div class="keepMarginTop">
                        <label><b>{{ textKeys.gravity }} </b></label>&nbsp;
                        <span>{{ planet.gravity }}</span>

                        <label class="keepMarginLeft"><b>{{ textKeys.terrain }}: </b></label>&nbsp;
                        <span>{{ planet.terrain }}</span>
                    </div>
                </clr-stack-label>

                <clr-stack-content>
                    <div class="keepMarginTop">
                        <label><b>{{ textKeys.created }} </b></label>&nbsp;
                        <span>{{ planet.created | date }}</span>
                    </div>

                    <div class="keepMarginTop">
                        <label><b>{{ textKeys.edited }} </b></label>&nbsp;
                        <span>{{ planet.edited | date }}</span>
                    </div>

                    <div class="keepMarginTop">
                        <label><b>{{ textKeys.url }} </b></label>&nbsp;
                        <span>{{ planet.url }}</span>
                    </div>
                </clr-stack-content>
            </clr-stack-block>
        </clr-stack-block>
    </clr-stack-view>
</div>
